
    <div>Note Label</div>
    <div >
        <mat-form-field appearance="fill" color="white">
            <input matInput placeholder="Search" id="labelName" />
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div >
        <div  style="margin: -10px 0px;">
            <mat-checkbox ></mat-checkbox>
            <label mat-menu-item style="display: inline;">hello</label>
        </div>
    </div>
    <div style="padding-top: 10px;">
        <mat-divider></mat-divider>
        <div  style="margin-top: 5px;">
            <button mat-button >create</button>
        </div>
    </div>
  
