<div clas="dashboard">
<mat-toolbar>
    <mat-toolbar-row>
        <img class="fundoo-icon" src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" srcset="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_48dp.png 2x " alt="" aria-hidden="true" style="width:40px;height:40px">
            <span>FundooNote</span>
            
            <div class="search">
       
      <button mat-icon-button  class="search-icon">
        <mat-icon>search</mat-icon>
      </button>
      <input type="text" placeholder="Search" class="search-input" >
    </div>

    </mat-toolbar-row>
  

    </mat-toolbar>
</div>
<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
  </mat-sidenav-container>
  <div>Please open on Stackblitz to see result</div> -->
