<div >
    <mat-card-content>
    <mat-card class="registrationCard" layout="row" layout-align="center center">
    <mat-card-header>
        <mat-card-title class="title">
        <h2>FundooNotes Registration</h2>
    </mat-card-title>
    </mat-card-header>
    <form class="register-form">
        <mat-card-content>
    <mat-form-field class="content" >
        <input matInput placeholder="User Name" type="text" >
    </mat-form-field>

    <mat-form-field class="content" >
        <input matInput placeholder="Email" type="text" >
    </mat-form-field>

    <mat-form-field class="content" >
        <input matInput placeholder="Password" type="password" >
    </mat-form-field>

    <mat-form-field class="content" >
        <input matInput placeholder="PhoneNo" type="text" >
    </mat-form-field>
</mat-card-content>
    <div class="register-button">
    <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!registrationForm.valid"
        >
          Register
        </button>
      </mat-card-actions>
    </div>
</form>
    </mat-card>
</mat-card-content>
  </div>
